<header>
        <h1>Company XYZ</h1>
        <nav>
            <ul>
                <li><a href="/"/>Home</li>
                <li><a href="/products"/>Products</li>
                <li><a href="/profile"/>Profile</li>
            </ul>
        </nav>
</header>