<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/alternate-styles.css">
    <linkrel    
</head>
<body>
    <div class="container">
        {{>header}}
        <aside class="left-sidebar">
            Content Left
        </aside>
        <main>
            {{{body}}}
        </main>
        <aside class="right-sidebar">
            Content right
        </aside>
        {{>footer}}    
    </div>
</body>
    
</body>
</html>